.downloader {
  width: 100%;
  min-height: 460px;
  transform: translateY(-12.5%);
  user-select: none;
  &-title {
    font-size: 32px;
    font-weight: 900;
    font-size: $color-text-primary;
    margin-bottom: 18px;
  }
  &-body {
    &-selector {
      margin-bottom: 18px;
      &__label {
        font-size: 15px;
        color: $color-text-label;
        margin-bottom: 14px;
      }
    }
    &-input {
      margin-bottom: 18px;
      &__label {
        font-size: 15px;
        color: $color-text-label;
        margin-bottom: 14px;
      }
    }
    &-button {
      width: 100%;
      padding-top: 16px;
      .el-button {
        width: 100%;
        height: 36px;
        span {
          font-family: Noto Sans SC, -apple-system, Microsoft YaHei, sans-serif;
          font-weight: 500;
        }
      }
    }
  }
  &-footer {
    margin-top: 80px;
    color: $color-text-footer;
    font-size: 13px;
    font-weight: 300;
    &-split {
      margin: 0 8px;
    }
  }
}

@media (max-width: 768px) {
  .downloader {
    min-height: 320px;
    transform: translateY(-2.5%);
    &-footer {
      margin-top: 64px;
    }
  }
}
